body {
    background-color: #968c72; 
  }

.header {
    background-color: #cac5b7;
    width: 1600px;
    height: 80px;
    position: absolute;
    display: block;
}

.aside {
    background-color: #cac5b7;
}

.main {
    background-color: #cac5b7;
}

.section {
    background-color: #cac5b7;
}

.footer {
    background-color: #cac5b7;
}